@model Tenchex.Models.DiffrentialPressureTransmitter

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>DiffrentialPressureTransmitter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaClassification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaClassification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElementMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElementMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HousingMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HousingMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessConnectionMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessConnectionMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpanRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpanRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CallibrationRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CallibrationRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SensorType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SensorType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accuracy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accuracy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Repeatabilty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Repeatabilty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Standard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Standard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lcd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lcd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeyPad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeyPad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protocol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protocol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._420mA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._420mA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Installation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Installation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MountingBracket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MountingBracket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MountingBracketMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MountingBracketMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manifold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manifold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManifoldType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManifoldType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManifoldMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManifoldMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaphragmSeal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaphragmSeal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaphragmSealMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaphragmSealMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CabillaryTubes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CabillaryTubes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CabillaryTubesMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CabillaryTubesMaterial)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DiffrentialPressureTransmitterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
