@model Tenchex.Models.Projects

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Projects</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectOwner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectConsultant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectConsultant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectCatogry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectCatogry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
