@model Tenchex.Models.TemperatureGauge

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>TemperatureGauge</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaClassification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaClassification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElementMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElementMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessConnectionToThermowell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessConnectionToThermowell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessConnectionMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessConnectionMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertionLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertionLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmersionLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmersionLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaveFrequencyCalculation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaveFrequencyCalculation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StemLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StemLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StemDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StemDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpanRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpanRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SensorType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SensorType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accuracy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accuracy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Repeatabilty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Repeatabilty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Standard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Standard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThermowellType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThermowellType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThermowellProcessConnection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThermowellProcessConnection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThermowellProcessConnectionMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThermowellProcessConnectionMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DialSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DialSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseFilling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseFilling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlassType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlassType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TemperatureGaugeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
