@model Tenchex.Models.Types

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Types</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstrumentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstrumentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CableId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CableId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PipeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PipeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompressorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompressorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TankId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TankId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PumpId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PumpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValveId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValveId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
